<div data-controller="save-dates">
  <div class="container background-blue">
    <h3 class="t3 white pb-3">when do you want to go climbing?</h3>
    <%# select a date %>
    <div data-controller="flatpickr" class="flatpickr-form-wrapper">
      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :trip_start_date, label: "Start Date", as: :string, required: false,
                    input_html: {class: "datepicker"} %>
        <%= f.input :trip_end_date, label: "End Date", as: :string, required: false,
                    input_html: {class: "datepicker"} %>
        <div class="d-flex justify-content-between">
          <%= link_to "Continue", "#anchor", type: "submit",
                      class: "button--red",
                      data: {
                        # save_dates_target: "form",
                      action: "click->save-dates#continue" } %>
          <%= link_to "I'm flexible", "#anchor", class: "button--red" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="crag-photo d-flex justify-content-center align-items-center"
    style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('<%= cl_image_path @crag.photo.key, crop: :fill %>')">
    <h3 class="t3 white"><%= @crag.name %></h3>
  </div>

  <div style="width: 100%; height: 50vh;"
    data-controller="map"
    data-map-marker-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="container spacing-for-anchor" id="anchor">

    <div data-save-dates-target="travelling_climbers" data-action="click->save-dates#continue">travelling climbers div</div>
    <%# <button data-action="click->save-dates#show">button</button> %>
    <%# insert climbers that match the same timing like startDate and endDate %>
    <h2 class="t2">Climbers in <%= @crag.name.split(",")[0] %></h2>
    <% @crag.profiles.each do |profile| %>
    <%= profile.name %> <br>
    <% end %>
  </div>
</div>
