<div id="message-<%= message.id %>">
  <% if message.user.profile %>
      <div class="d-flex align-items-center">
        <%= link_to profile_path(message.user.profile) do %>
          <%= cl_image_tag message.user.profile.photo.key, height: 100, width: 100, crop: :fill, gravity: :face, class: "round-image" %>
        <% end %>
        <div class="px-2"><strong><%= message.user.profile.name %></strong></div>
      </div>
    <p><em><%= message.content %></em></p>
  <% else %>
    <div class="p-2"><strong><%= message.user.email %></strong></div>
    <p class="p-2"><em><%= message.content %></em></p>
  <% end %>
</div>
