<%= simple_form_for profile,
  html: {
    class: profile.errors.any? ? "" : "d-none",
    data: {
      edit_profile_target: "form",
      action: "submit->edit-profile#update"
    }
  } do |f|
%>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :bio %>
  <%= f.input :photo, as: :file %>
  <%= f.association :crag %>
  <div class="py-1"></div>
  <%= f.submit class: "button--red", data: { turbo: :false } %>
<% end %>
