<%= simple_form_for profile,
  html: {
    class: profile.errors.any? ? "" : "d-none",
    data: {
      edit_profile_target: "form",
      action: "submit->edit-profile#update"
    }
  } do |f|
%>
  <%= f.input :name, placeholder: "Type your name" %>
  <%= f.input :age, placeholder: "How old are you?" %>
  <%= f.input :bio, placeholder: "Tell other climbers about yourself..." %>
  <%= f.input :photo, as: :file, label: "Upload a photo" %>
  <%= f.association :crag, label: "What's your home crag?" %>
  <div class="py-1"></div>
  <%= f.submit class: "button--red", data: { turbo: :false } %>
<% end %>
