<div data-controller="flatpickr" class="flatpickr-form-wrapper">
  <%= simple_form_for [profile, trip], html: {class: "d-none", data: {edit_trip_target: "form"}} do |f| %>
    <%= f.input :name, placeholder: 'Type a name here' %>
    <%= f.input :start_date, label: "Start Date", as: :string, required: true,
                input_html: {class: "datepicker"} %>
    <%= f.input :end_date, label: "End Date", as: :string, required: true,
                input_html: {class: "datepicker"} %>
    <%= f.association :crag, include_blank: "Select a crag" %>
    <%= f.submit class: "button--red mt-4" %>
  <% end %>
</div>
