<div class="container">
  <h1><%= @profile.name %></h1>
  <p>Home Crag: <%= @crag.name %></p>
  <p><%= @profile.bio %></p>
  <div class="profile-photo"
       style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
       url('<%= cl_image_path @profile.photo.key, height: 300, crop: :fill %>')">
  </div>

  <h1>Trips</h1>
  
  <% @profile.trips.each do |trip| %>
    <p><%= trip.name %></p>
    <p><%= trip.start_date %></p>
    <p><%= trip.end_date %></p>
    <p><%= trip.crag.name %></p>
  <% end %>

  <h1>Reviews</h1>
  <ul>
    <% @profile.reviews.each do |review| %>
      <li><%= review.rating %></li>
      <li><%= review.comment %></li>
      <% if @profile.user == current_user %>
        <li>
          <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% if @profile.user == current_user %>
    <h1>Edit your profile</h1>
    <%= render "form" %>
  <% else %>
    <%= link_to "Leave a review", new_profile_review_path(@profile) %>
    <%= link_to "Contact #{@profile.name}", new_chatroom_path() %>
  <% end %>
</div>
