  <div class="profile-photo"
       style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
       url('<%= cl_image_path @profile.photo.key, crop: :fill %>')">
  </div>
<div class="container">
  <h1 class="t1 text-left"><%= @profile.name %></h1>
  <p class="t3">Home Crag: <%= @crag.name %></p>
  <p><%= @profile.bio %></p>

  <h2 class="mt-4 t2">Trips</h2>
  <div class="trip-grid">
    <% @profile.trips.each do |trip| %>
      <div class="trip-card">
        <div class="crag-photo"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url('<%= cl_image_path trip.crag.photo.key, height: 300, crop: :fill %>')">
        </div>
        <div class = "trip-info p-1 pt-3">
          <p><strong><%= trip.name %></strong></p>
          <p><em><%= trip.crag.name %></em></p>
          <p><%= trip.start_date %> ⇨ <%= trip.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>

  <h2 class="mt-4 t2">Reviews</h2>
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between">
      <% @profile.reviews.each do |review| %>
        <div class="col-12 border p-4 text-center">
          <p><strong><%= review.user.profile.name %></strong></p></p>
          <div class="profile-photo"
               style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
               url('<%= cl_image_path review.user.profile.photo.key, crop: :fill %>')">
          </div>
          <p>Rating: <strong><%= review.rating %></strong></p>
          <p><em><%= review.comment %></em></p>
          <% if review.user_id == current_user.id %>
            <p>
              <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @profile.user == current_user %>
    <h2 class="mt-4 t2">Edit your profile</h2>
    <%= render "form" %>
  <% else %>
    <div class="d-flex flex-column">
      <%= link_to "Leave a review", new_profile_review_path(@profile) %>
      <%= link_to "Contact #{@profile.name}", new_chatroom_path() %>
    </div>
  <% end %>
</div>
<div class="search-bottom-padding"></div>
<%= render "shared/search_bottom" %>
