<div data-controller="edit-profile" class="profile-infos" data-edit-profile-target="infos">
  <div class="profile-photo"
        style="background-image: url('<%= cl_image_path @profile.photo.key, crop: :fill %>')">
  </div>
  <div class="container">

    <d-flex class="d-flex justify-content-between flex-row align-items-center">
      <span>
        <p class="t1 no-margin">
          <span><%= @profile.name %>,</span>
          <span class="blue" style="margin-left: -20px;"><%= @profile.age %></span>
        </p>
      </span>
      <span>
        <div class="text-me-button">
          <% if @profile.user != current_user %>
            <%= link_to "Text me!", new_chatroom_path(), class: "button--red" %>
          <% end %>
          </div>
      </span>
    </d-flex>


    <p><strong>Homecrag: </strong><%= @crag.name %></p>

    <% if @profile.bio %>
      <p class="blue-profile-text">"<%= @profile.bio %>"</p>
    <% end %>


    <% if @profile.trips.size %>
      <div class="py-1"></div>
      <div class="d-flex justify-content-center">
        <div class="horizontal-black-line"></div>
      </div>
      <div class="py-1"></div>
      <h2 class="mt-4 t2">Upcoming Trips</h2>
      <div class="trip-grid">
        <% @profile.trips.each do |trip| %>
          <div class="trip-card" data-controller="edit-trip" data-edit-trip-target="card">
            <%= render 'trips/trip_info', profile: @profile, trip: trip %>
            <%= render "trip_form", profile: @profile, trip: trip %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @profile.user == current_user %>
    <button aria-label="Edit profile">
      <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->edit-profile#displayForm"></i>
    </button>
  <% end %>
</div>

<%= render "form" %>

<div class="container background-blue">
  <div class="relative">
    <h3 class="py-3 t3 white">What other climbers have said about
      <% if @profile.user == current_user %>
        you:
      <% else %>
        <%= @profile.name %>:
      <% end %>
    </h3>
    <div class="d-flex flex-column" id="reviews">
      <% @profile.reviews.each do |review| %>

          <div class="white-background review-bubble d-flex flex-column justify-content-center">
            <div class="review"><strong><%= review.user.profile.name %>:  </strong><%= review.comment %></div>
          <% if review.user_id == current_user.id %>
              <i class="fa-solid fa-trash trash-icon align-self-end fa-lg"><%= link_to "", review_path(review), data: { turbo: :false }, class: "" %></i>
          <% end %>
          </div>

      <% end %>
    </div>
    <% if @profile.user != current_user %>
      <%= link_to "Leave a review", new_profile_review_path(@profile), class: "button--red bottom-right" %>
    <% end %>
    <div class="review-spacing"></div>
  </div>
</div>

<div class="container">
</div>


<%= render "shared/search_bottom" %>
