<% unless @profile.reviews.empty? %>
  <div class="container background-blue">
    <div class="relative">
      <h3 class="py-3 t3 white">What other climbers have said about
        <% if @profile.user == current_user %>
          you:
        <% else %>
          <%= @profile.name %>:
        <% end %>
      </h3>
      <div class="d-flex flex-column" id="reviews">
        <% counter = 0 %>
        <% amount = @profile.reviews.size %>

        <% @profile.reviews.each do |review| %>
          <% counter += review.stars %>
        <% end %>

        <div class="text-center" data-controller="star-rating"><strong>Rating:</strong> <p data-star-rating-target="stars"><%= (counter/amount.to_f).round(half: :up) %></p></div>

        <% @profile.reviews.each do |review| %>
          <% unless review.user.profile.nil? %>

            <div class="white-background review-bubble d-flex flex-row justify-content-between align-items-start">
              <div class="review"><strong><%= review.user.profile.name %>:  </strong><%= review.comment %></div>
              <% if review.user_id == current_user.id %>
                <%= link_to review_path(review), data: { turbo_method: :delete }, class: "delete-review-link" do %>
                  <i class="fa-solid fa-trash trash-icon fa-lg delete-review-link"></i>
                <% end %>
              <% end %>
            </div>

          <% end %>
        <% end %>
      </div>

      <% if @profile.user != current_user %>
        <%= link_to "Leave a review", new_profile_review_path(@profile), class: "button--red bottom-right" %>
      <% end %>
      <div class="review-spacing"></div>
    </div>
    <div class="search-bottom-padding"></div>
  </div>
<% end %>
