<div class="navbar navbar-expand-sm navbar-light navbar-lewagon background" data-controller="notification-subscription" data-notification-subscription-user-id-value="<%= current_user&.id %>">
  <div class="navbar-full-height d-flex justify-content-between align-items-center">
    <%= link_to :back, class: "navbar-button" do %>
      <span class="icon--lastpage"><i class="fa-solid fa-angle-left"></i></span>
    <% end %>
    <div class="navbar-pipe"></div>
    <div class= "inbox">
      <div class="message-icon">
        <%= link_to chatrooms_path, class: "navbar-button" do %>
          <span class="icon--message"><i class="fa-solid fa-message"></i></span>
        <% end %>
      </div>
      <div data-notification-subscription-target="inbox" class="count"><p>(5)</p>
      </div>
    </div>
    <div class="navbar-pipe"></div>
    <div class="navbar-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon--menu"><i class="fa-solid fa-bars"></i></span>
      </button>
    </div>




  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container py-1">
      <ul class="navbar-nav aligh-right">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? && current_user.profile %>
          <li class="nav-item active">
            <%= link_to "My Profile", profile_path(current_user.profile), class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
        <% elsif user_signed_in? && !current_user.profile %>
          <li class="nav-item active">
            <%= link_to "Make a profile", new_profile_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
