<div class="navbar-full-height navbar-main d-flex justify-content-between align-items-center" data-controller="<%= params[:controller] + params[:action] != "chatroomsshow" && "notification-subscription"  %>" data-notification-subscription-user-id-value="<%= current_user&.id %>">
  <%= link_to root_path, class: "navbar-button" do %>
    <i class="icon-nav fa-solid fa-house"></i></i>
  <% end %>
  <div class="navbar-pipe"></div>
    <%= link_to chatrooms_path, class: "navbar-button" do %>
      <i class="icon-nav fa-solid fa-message"></i>
      <div data-notification-subscription-target="inbox" class="count"><%= "(#{current_user.unread_messages.count})" if current_user&.unread_messages&.any? %></div>
    <% end %>
  <div class="navbar-pipe"></div>
    <% if user_signed_in? %>
      <% if current_page?(controller: 'profiles', action: 'show', id: current_user.id) %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-button" do %>
          <i class="icon-nav fa-solid fa-right-from-bracket"></i>
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to profile_path(current_user.profile), class: "navbar-button" do %>
          <i class="icon-nav fa-solid fa-user"></i>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "navbar-button" do %>
        <i class="icon-nav fa-solid fa-right-from-bracket"></i>
      <% end %>
    <% end %>
</div>
