  <div class="container background-blue full-screen">
    <h3 class="t3 white pb-3">when do you want to go climbing?</h3>
    <%# select a date %>
    <div data-controller="flatpickr" class="flatpickr-form-wrapper">
      <%= simple_form_for :search, method: "get" do |f| %>
        <%= f.input :trip_start_date, label: "Start Date", as: :string, required: false,
                    input_html: {class: "datepicker"},
                    value: params[:query],
                    data: {search_target: "start_date",
                           action: "click->save-dates#continue"} %>
        <%= f.input :trip_end_date, label: "End Date", as: :string, required: false,
                    input_html: {class: "datepicker"},
                    value: params[:query],
                    data: {search_target: "end_date",
                           action: "click->save-dates#continue"} %>

        <div class="d-flex justify-content-between">
          <%= link_to "Continue", "#anchor", type: "submit",
                      class: "button--red",
                      data: { action: "click->save-dates#continue" } %>
          <%= link_to "I'm flexible", "#anchor", class: "button--red" %>
        </div>
      <% end %>
    </div>
  </div>
